@font-face {
	font-family: SiteFont;
	src: url(Ubuntu-C.ttf);
}

body{
	margin-top:120px;
}

.side-body h1{
	text-align: center;
}

img{
	flex-shrink: 0;
}

a{

	text-decoration:none;
	color: inherit;  o specifica il colore desiderato */
}

html{
	font-family:SiteFont;
	background-color:#37323E;
}

form{
	margin:0;

}

button{
    text-decoration: none;
    border-radius: 4px;
}

.notification-history:hover{
text-decoration:underline;

}
.main-body{
	display:flex;
	gap:20px;
	height:85vh;
}

.logo img{
	width:200px;
	height:auto;
}

.video-list-body{
background-color:#BFBDC1;
width:85%;
border-radius: 12px;
}
.side-body{
	background-color:#BFBDC1;
	width:15%;
	min-width:285px;
	min-height:610px;
	border-radius: 12px;
	display:flex;
	flex-direction: column;
	
}

.notification-bell{
display:flex;
position:relative;
flex-direction: row-reverse;
background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; /* Remove default focus outline */
}

.notification-number{
	position:absolute;
	right:3.5%;
	top:6%;
	padding:2px 6px 2px 6px;
	margin-bottom:60%;
	background-color: #ff3333; /* Adjusted reddish color */
	border-radius: 20px;
}



.notification-time{
	color:black;
	font-style: italic; 
}

.notification-list{
	display:flex;
	font-size:14px;
	align-items:center;
	background-color: transparent; /* Initial background color */
    transition: background 0.3s ease; /* Smooth transition for background color */
    border-radius: 20px;
    padding-left:10px;
    padding-right:10px;
}

.notification-list:hover{
	background:grey;
}

.notification-popup{
	font-size:22px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.30); /* Ombra con dimensione e colore specificati */
	position: absolute;
	background-color:white;
	z-index:1000;
	display:flex;
	flex-direction: column;
	align-items:center;
	padding: 10px 20px 10px 20px; /* Padding for content inside the popup */
    width: 280px;
    overflow:auto;

    @media only screen and (max-width: 1540px) {

    width:auto;

	}
    z-index: 1000; /* Ensure it's above other content */
    transform: translateX(-39%); /* Center the popup horizontally */
    border-radius: 25px;
    gap:5px;




    display:none;
    animation: popup-fadeIn 0.5s ease-in-out; /* Animation for fade-in effect */
}

/* Keyframes for the fade-in animation */
        @keyframes popup-fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

.side-container-button{
	background: linear-gradient(to top, #DE9E36, #DEB841);
	display:flex;
	align-items:center;
	justify-content: center;
	border-radius:8px;
	margin: 10px 25px 10px 25px;
	height:45px;
	gap:1.5%;
	background-color: transparent; /* Initial background color */
    transition: filter 0.3s ease; /* Smooth transition for background color */
}

.side-container-user-btn{
	display:flex;
	align-items:center;
	padding: 8px;
	justify-content: center;
	gap:1.5%;
	 /*margin: 0px 50px 0px 50px;*/
	background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.side-container-user-btn:hover {
    background-color: gray;
    cursor:pointer;
}

.side-container-button:hover {
     filter: brightness(1.12); /* Increase brightness on hover */
    cursor:pointer;
}

.separator {
    width: 90%;
    border: none;
    border-top: 3px solid black; /* Personalizza lo stile della linea come preferisci */
    
}


.popup-disabler{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display:none;
    
}


.side-body h1{
	text-align: center;
	margin:10px;
}
.side-body p{
	text-align: center;
	margin:10px;
}

.top-bar{
	z-index:1000;
	top:0;
	left:0;
	background-color:#6D6A75;
	display:flex;
	width:100%;
	justify-content: center;
	align-items: center;
	max-height:100px;
	min-height:100px;
	justify-content:space-evenly;
	border-radius:0px 0px 15px 15px;
	position:fixed;
	border: 1px solid transparent; /* Set a transparent border */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.65); /* Add a shadow */
}

.video-list-body{
	display:flex;
	width:100%;
	flex-direction: column;
	align-content:center;
	overflow-y:scroll;
}



.video-box{
	display:flex;
	flex-direction:column;
	width:320px;
}

.video-box h3, p{
	margin:3px;
	text-align: center;
}

.video-score{
	margin:3px;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:20px;
}
.video-list-container{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	margin: 0 10%;
	gap:20px;
}

.video-list-body h1{
	text-align:center;

}

.search-section{
	flex-basis:40%;
}

.search-text input{
	border-radius:10px;
	padding:10px;
	width:350px;
	font-family: SiteFont;
	font-size:18px;
}

.search-button button{

}
.user-section{
	flex-basis:8%;
}

.user-buttons{
	display:flex;
	justify-content: space-evenly;
	align-items:center;
}
.search-box{
	display:flex;
	justify-content: center;
	gap:10px;
	align-items: center;
}

.profile-pic{
	border-radius:50%;
}